<div class="panel panel-primary" >
    <div class="panel-heading">Add a new Category</div>
    <div class="panel-body">
      <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <form #form="ngForm">
        <div class="form-group">
          <label class="control-label">Name</label>
          <div>
            <input type="input" class="form-control" name="name" required minlength="4" placeholder="Category Name" [(ngModel)]="category.name" #name="ngModel" />
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Description</label>
          <div>
            <textarea class="form-control" name="description" placeholder="Category Description" required [(ngModel)]="category.description"  #description="ngModel"></textarea>
          </div>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
              <div *ngIf="description.errors.required">
                Description is required.
              </div>
            </div>
        </div>
        
        
        <button type="submit" class="btn btn-primary" (click)="addCategory(category)" [disabled] = "!form.valid" >Create</button>
        <button type="submit" class="btn btn-default" (click)="goBack()">Cancel</button>
      </form>
    </div>
  </div>