<div class="panel panel-info">
  <div class="panel-heading">
    Update Category
  </div>
  <div class="panel-body">
    <form #editForm="ngForm" *ngIf="category">
      <div class="form-group">
        <label class="control-label">Name</label>
        <div>
          <input type="text" class="form-control" name="name" #name="ngModel" 
            placeholder="Category Name" [(ngModel)]="category.name" required minlength="4" />
        </div>
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">
          <label class="control-label">Description</label>
          <div>
            <textarea class="form-control" name="description" #description="ngModel" 
            placeholder="Category Description" [(ngModel)]="category.description" required></textarea>
          </div>
          <div class="alert alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
            <div *ngIf="description.errors.required">
              Description is required.
            </div>
          </div>
        </div>

        
        
          <button type="submit" (click)="updateCategory(category)" 
          [disabled]="!editForm.valid"
          class="btn btn-primary">Update</button>
          <button class="btn btn-default" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>