


<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h3>Warehouse Inventory System</h3>
        <ul class="nav nav-pills nav-stacked">
          <li [routerLinkActive]="['active']"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/categories']"><span class="glyphicon glyphicon-list"></span> Categories</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/products']"><span class="glyphicon glyphicon-apple"></span> Products</a></li>
          
        </ul><br>
        <div class="input-group">
        
        
        </div>
      </div>
  
      <div class="col-sm-9">
        <h4 style="font-family: fantasy;">The system has fundamental features to manage an inventory like category, products through CRUD operations </h4>
        <hr>
        
        <h5><span class="label label-danger">Introduction</span> </h5><br>
        <p>The warehouse carries a wide range of medical supplies, fragrances,beauty and health care products,and here goes a basic system of inventory management </p>
        <br>
        
        <hr>
     
       
        <h5><span class="label label-success">Operation</span></h5><br>
        <router-outlet></router-outlet>
  
        
        
      
        
        
      </div>
    </div>
    <footer class="container-fluid">
        <nav class="navbar-wrapper navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
              <p class="navbar-text pull-left">&copy; 2018 Warehouse Inventory. All rights reserved.</p>
              <a href="#" class="btn navbar-btn btn-danger pull-right">Subscribe</a> 
            </div>
          </nav>
    </footer>
  